.title {
  width: 30%;
  text-align: center;
}

.description {
  width: 40%;
}

.date {
  width: 10%;
  text-align: center;
}

.actionCell {
  width: 7%;
}

.errorCell {
  text-align: center;
}

#deadlinesTableHead {
  background-color: lightblue;
}
