.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: azure;
  box-shadow: 1px 3px 5px black;
}
.form * {
  padding: 10px;
  margin: 10px;
}

.inactiveTab {
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
  cursor: pointer;
  background-color: lightgray;
}

.activeTab {
  border: 2px solid black;
  border-bottom: none;
  background-color: azure;
}

.tab {
  padding: 5px;
}
