.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: azure;
  box-shadow: 1px 3px 5px black;
  width: 100%;
}
.form * {
  padding: 10px;
  margin: 10px;
}

.form h2 {
  color: black;
}

.inactiveTab {
  border: 1px solid black;
  border-bottom: none;
  cursor: pointer;
  background-color: lightgray;
}

.activeTab {
  border: 2px solid black;
  border-bottom: none;
  background-color: azure;
}

@media (prefers-color-scheme: dark) {
  .inactiveTab {
    border: 1px solid white;
    border-bottom: none;
  }

  .activeTab {
    border: 2px solid white;
    border-bottom: none;
  }
}

.tab {
  padding: 5px;
  color: black;
}

.warningMessage {
  color: red;
  padding: 1px;
  margin: 1px;
}

#loginPage {
  width: 300px;
}

#privacyPolicyWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}

#privacyPolicyWrapper label {
  width: 90%;
  text-align: left;
}

#privacyPolicyWrapper input {
  width: 40px;
  height: 40px;
  align-self: center;
}

.noPadOrMargin {
  padding: 0;
  margin: 0;
}
